<h1>Edit Prescription</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.prescription_path(@conn, :update, @prescription)) %>

<span><%= link "Back", to: Routes.prescription_path(@conn, :index) %></span>
