<h1>Listing Pharmacies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for pharmacy <- @pharmacies do %>
    <tr>
      <td><%= pharmacy.name %></td>

      <td>
        <%= link "Show", to: Routes.pharmacy_path(@conn, :show, pharmacy) %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
