<h5>Pharmacy</h5>
<h1><%= @pharmacy.name %></h1>

<ul>

  <li>
    <strong><%= link "Location", to: Routes.pharmacy_location_path(@conn, :show, @pharmacy) %></strong>
  </li>

</ul>

<span><%= link "<-- All Pharmacies", to: Routes.pharmacy_path(@conn, :index) %></span>
